@charset "UTF-8";

@import url('reset.css');

@import url('font.css');

@import url('comms.css');



/* M_ACDM_1 로그인 페이지 */
        .logHeader{position: relative; z-index: -1;}
        .logHeader .headWrap{ max-width: 100%; height: 0; padding-bottom: calc(370/140*10%); background: url(../img/login_img_3_768px.png)center center / cover no-repeat; }
        .logHeader .mainTxt{padding-left: 4.559%; padding-top: 3.67%;}
        .logHeader .mainTxt h1{background: url(../img/logo_white.png)no-repeat center; background-size: cover; width: 304px; height: 41px;}
        .logHeader .mainTxt p{font-weight: bold; color: #fff; margin-top: 12px; line-height: 20px; display: inline-block; font-size: 4.1rem; margin-top: 2.3%; letter-spacing: -0.25px;}

        .section{width: 100%; background-color: #fff; border-radius: 8px 8px 0 0; margin-top: -10px;}
        .sectionWrap{padding: 21px 4.44% 0 4.44%;}
        .section .sectionWrap input{letter-spacing: -0.25px;}
        .section .sectionWrap input[type="text"]{border: 1px solid #F0F0F0; padding: 16px; border-radius: 8px;}
        .section .sectionWrap .topInputs input[type="text"]:nth-child(2){margin: 8px 0;}
        .section .sectionWrap input[type="text"]::placeholder{font-size: 15px; color: #999999; letter-spacing: -0.25px; font-weight: 500;}

        .section .btn{padding: 16px 15px; background-color: #F2F0F0; font-weight: 600; border-radius: 8px; display: inline-block; text-align: center; width: 27.44%; letter-spacing: -0.25px;}
        .section .btn span{font-size: 15px; color: #9B9B9B;}
        
        /*인증 요청 버튼색상*/
        .section .btn.call span{color: #222;} /*OTP 번호 입력했을때 텍스트 색상*/
        .section .btn.comple {background-color: #00AAB5;} /*OTP 번호 인증 완료 배경색상*/
        .section .btn.comple span{color: #fff;} /*OTP 번호 인증 완료 글자색상*/
        

        .section .pass{padding: 10.5px 0; display: flex; align-items: flex-end; justify-content: space-between;}
        .section .otp{display: flex; justify-content: space-between;}
        .section .otp input[type="text"]{width: 71.33%;}
        .section .subArea{display: flex; align-items: flex-end; justify-content: space-between; margin-top: 8px; margin-left: 5px;}

        .section .subArea .chBox label{font-weight: 600; font-size: 13px; letter-spacing: -0.25px; display: inline-block; width:100px; line-height:5px;}
        .section .subArea .chBox input[id="idChkbox"]{display: none;}
        .section .subArea .chBox input[id="idChkbox"] + label em{display: inline-block; width: 20px; height: 20px; margin-right: 3px; background: url(../img/checkbox_on.svg) 0 0 no-repeat; vertical-align: sub;}
        .section .subArea .chBox input[id="idChkbox"]:checked + label em {background-image: url(../img/checkbox_off.svg);}
        .section .subArea .chBox label span{color: #000; vertical-align: 1px;}
        .section .subArea .ptLog{margin-right: 5px;}
        .section .subArea .ptLog a, span{color: #00aab5; font-size: 13px; letter-spacing: -0.25px;}
        .section .subArea .ptLog span{margin-right: 3px; height: 20px; font-weight: 600; vertical-align: -4px;}
        .section .subArea .ptLog .ptn_img{width: 20px; height: 20px; filter: invert(70%) sepia(56%) saturate(6931%) hue-rotate(150deg) brightness(94%) contrast(101%); margin-right: 4px;}
        
        .section .appliArea{text-align: center; padding: 24px 0; display: flex; height: calc(100vh - 750px);}
        .section .appliArea a{font-weight: 500; font-size: 13px; display: inline-block; width:50%; text-align: center; position: relative;}
        .section .appliArea a::after{content: ""; width: 16px; height: 16px; background: url(../img/right_arrowlink.svg)no-repeat center; background-size: 16px auto; position: absolute; top:-1.5px; letter-spacing: -0.25px;}

        .bottomArea .pri_btn{text-align: center; margin: 0 auto; border: 1px solid #DDDDDD; border-radius: 8px; padding: 4px 7px; width: 98px; display: block;}
        .bottomArea .pri_btn span{font-weight: bold; color: #666; font-size: 12px; letter-spacing: -0.25px;}

        .bottomArea .help{display: flex; justify-content: center;}
        .bottomArea h4{text-align: center; color: #7C7C7C; font-size: 12px; letter-spacing: -0.25px; font-weight: 500; margin-top: 8px; margin-bottom: 5px;}
        .bottomArea .help li{font-size: 12px; color: #7c7c7c; letter-spacing: -0.8px; font-weight: bold; display: flex;}
        .bottomArea .help li:first-child{margin-right: 18px;}
        .bottomArea .help li span{font-size: 12px; color: #7C7C7C; letter-spacing: -0.25px; text-align: center; font-weight: 500; line-height: 24px;}
        .bottomArea .help li .left_num{background: #EDEEEF; border-radius: 4px; padding: 0 4px; color: #666666; line-height: 24px; letter-spacing: -0.25px; font-size: 12px; font-weight: 500; height: 24px; margin: 0 4px;}
        .bottomArea .help li a{background: #EDEEEF; border-radius: 4px; padding: 2px 2px 1.5px 2px;}
        .bottomArea .help li a .mail_img{width: 20px; height: 20px; filter: invert(37%) sepia(21%) saturate(12%) hue-rotate(26deg) brightness(100%) contrast(88%);}

        .bottomBtn{margin-top: 16px;}
        .bottomBtn button{width: 100%; height: 49px; text-align: center; background: #EDEEEF; font-weight: bold; color: #A8A8A8; font-size: 16px;}
        .bottomBtn.logSet button{background: #00AAB5; color: #fff;}

        @media screen and (max-width: 1920px){
            .logHeader .headWrap{ padding-bottom: 32.5%;}
            .logHeader .mainTxt{padding-left: 4.559%; padding-top: 3.67%;}
            .logHeader .mainTxt h1{width: 304px; height: 41px;}
            .logHeader .mainTxt p{font-size: 4.1rem; margin-top: 2.3%;}
            .section .appliArea{height: calc(100vh - 800px);}
        }
        @media screen and (max-width: 1441px){
            .logHeader .headWrap{padding-bottom: 41.5%;}
            .logHeader .mainTxt{padding-top: 5.67%;}
            .logHeader .mainTxt h1{width: 234px; height: 32px;}
            .logHeader .mainTxt p{font-size: 2.3rem; margin-top: 2.3%;}
            .section .appliArea{height: calc(100vh - 780px);}
        }
        @media screen and (max-width: 1025px){
            .logHeader .headWrap{padding-bottom: 51.5%;}
            .logHeader .mainTxt{padding-top: 8.67%;}
            .section .appliArea{height: calc(100vh - 860px);}
        }
        @media screen and (max-width: 769px){
            .logHeader .headWrap{padding-bottom: 55.31%; background-position-x: -1px;}
            .logHeader .mainTxt{padding-left: 3.559%; padding-top: 11.67%;}
            .logHeader .mainTxt h1{width: 164px; height: 21px;}
            .logHeader .mainTxt p{font-size: 2.1rem; margin-top: 2.3%;}
            .section .appliArea{height: calc(100vh - 780px);}
        }
        @media screen and (max-width: 426px){
            .logHeader .headWrap{ padding-bottom: 92.31%; background-image: url(../img/login_img_3.png);}
            .logHeader .mainTxt{padding-left: 5.559%; padding-top: 20.67%;}
            .logHeader .mainTxt p{font-size: 1.8rem; margin-top: 4%;}
            .logHeader .mainTxt h1{width: 140px; height: 19px;}
            .section .appliArea{height: calc(100vh - 735px);}
        }
        @media screen and (max-width: 376px){
            .logHeader .mainTxt{padding-top: 16.67%;}
            .logHeader .mainTxt p{font-size: 1.7rem; margin-top: 12px;}
            .section .appliArea{height: calc(100vh - 700px);}
        }
/* ////// M_ACDM_1 로그인 페이지 */